.navbar {
    background-color: lightslategray;
    color: white;
    padding: 3rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo {
    font-family: "Garamond", Serif;
    font-weight: bold;
    line-height: 1;
    font-size: 1.5rem;
}

.nav-links {
    display: flex;
    gap: 1.5rem;
}

.nav-link {
    color:white;
    text-decoration: none;
    font-size: 1rem;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

nav a:hover {
    color: gray;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}